# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Logs
*.log